/* components/ProfileHeader.module.css */

.profile-header {
    display: flex;
    align-items: center;
  }

  .usernameContainer{
    margin-left: 160px;
    margin-top: -90px;
  }
  
  .profile-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .returnHomeButton {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 92, 111);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid white;
  }

 /* styles/ProfilePicture.module.css */

.profilePicture {
  margin-top: 30px;
  margin-left: 20px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #ffffff; 
}

.profilePicture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileIntroduction{
  margin-top: 60px;
  margin-left: 20px;
}

.profileIntroduction p {
  margin:0;
}

.profileBackground{
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 18%;
  background-color:rgb(255, 92, 111); /* Adjust background color as needed */
  z-index: -1; 
}

.galleryItem{
  width: calc(33.33% - 10px);
  margin: 5px;
  overflow: hidden;
}

.galleryItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px; /* Optional: Add border radius for a rounded look */
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px; 
  margin-left: 10px;
}